html
    head
        title='Cambiar contraseña'
        style
            include ./style.css
    body
        div
            h1= "Por favor rellene el formulario para cambiar su contraseña"
            
            form(action="/success-recovery-password" method="POST")                
                label Contraseña: 
                br               
                input(type="password" name="password" placeholder="")
                br
                label Repite Contraseña:
                br                
                input(type="password" name="password2" placeholder="")

                input(type="hidden" name="token" value={token})

                h3 #{message}

                //- h3 (class='error') #{error}

                input(type="submit" name="enviar" value="Cambiar contraseña")
                