html
    head
        title='Cambiar contrase単a'
        style
            include ./public/css/style.css
    body.background
        div
            form(action="/success-recovery-password" method="POST")
                div.box-center                   
                img(src="/static/img/logo.png", alt="logo")
                div.box-center               
                    label Contrase単a 
                    img.eye(src="/static/img/eye.png", alt="logo",id="showp1")
                    br               
                    input(type="password" name="password" placeholder="" id="pass1")
                    br
                    label Repite Contrase単a
                    img.eye(src="/static/img/eye.png", alt="logo" id="showp2")
                    br                
                    input(type="password" name="password2" placeholder=""  id="pass2")

                    input(type="hidden" name="token" value={token})

                    h3 #{message}

                    //- h3 (class='error') #{error}

                    input(type="submit" name="enviar" value="Cambiar contrase単a")
                
       
        script(src='/static/js/jquery.min.js', type='text/javascript')
        script(src='/static/js/index.js', type='text/javascript')