html
    head
        title='Cambiar contrase単a'
        style
            include ./public/css/style.css
    body.background
        div
            form(action="/success-recovery-password" method="POST")
                div.box-center
                    img(src="/static/img/logo.png", alt="logo")
                div.box-center               
                    label Contrase単a
                    br               
                    input(type="password" name="password" placeholder="")
                    br
                    label Repite Contrase単a
                    br                
                    input(type="password" name="password2" placeholder="")

                    input(type="hidden" name="token" value={token})

                    h3 #{message}

                    //- h3 (class='error') #{error}

                    input(type="submit" name="enviar" value="Cambiar contrase単a")
                