html
    head
        title='Dashboard'
        
        link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css' integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous')
        link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css' integrity='sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ' crossorigin='anonymous')
        link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css' integrity='sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l' crossorigin='anonymous')
        link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css')

        style
            include ./public/css/admin.css
    body
        header
            .logo
                a(href='#')
                    img(src='/static/img/logo_blanco.png' alt='Logo' width='80')
            input#btn-menu(type='checkbox')
            label(for='btn-menu')
                img(src='/static/img/menu.png' width='30' alt='')
            nav.menu
                ul
                    li
                        a(id='close') Salir                   
            
        .mycontainer
                div(style={"margin-top":"20px"})
                    .table-responsive
                        table#table_id.display(style={"width":"100%"})
                            thead
                                tr
                                    th Código
                                    th Fecha Consulta
                                    th Hora Consulta
                                    th Nombre
                                    th Apellido
                                    th No. Cédula
                                    th Edad
                                    th Diagnóstico
                                    th Médico Tratante
                                    th Notas Médicas                                                                                                 
                                    th Estado
                      
           
                           
                    
            
    //- script(src='/static/js/jquery.min.js', type='text/javascript')
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src='/static/js/index.js', type='text/javascript')

    //- script(type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js')
    //- script(src='https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js')
    //- script(src='https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js')
    //- script(src='https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js')

    
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js')
    script(src='https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js')
    script(src='https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js')
    script(src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js')
    script(src='https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js')

    //- script(src='https://kanyjo.com/lib/DataTables-1.10.11/media/js/jquery.dataTables.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js')
    //- script(src='https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js')
    //- script(src='https://kanyjo.com/lib/DataTables-1.10.11/extensions/Buttons/js/dataTables.buttons.js')
    //- script(src='https://kanyjo.com/lib/DataTables-1.10.11/extensions/Buttons/js/buttons.html5.js')
    //- script(src='https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js')
    //- script(src='https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js')

     
     
     
     
     
     




  
