html
    head
        title='Exito!'
        style
            include ./public/css/style.css
    body.background
        .box-center-img-success
             img.img-success(src="/static/img/check_icon.png", alt="check")
             h3.h3-success #{message}
            
                